<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <form action="/generate_token" method="get">
        <button type="submit">Generate Your Token</button>
    </form>
</body>
</html>
